body {
    background: white;
    color: black;
}

.title-main {
    font-size: 2 rem;
    font-style: italic;
}

.subtitle-main {font-size: 1.75rem;}

.red-line {text-indent: 2.5rem;}

.responsive {width: 100%;
    max-width: 400px;
    height: auto;}
